h1 {
    color: red;
}

.Header {
    display: flex;
    justify-content: space-between;
    border: solid 1px;
}

.logo {
    width: 100px;

}

.nav-items>ul {
    display: flex;
    list-style-type: none;

}

.nav-items>ul>li {
    padding: 5px;
    margin: 10px;

}

.search-bar {
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;

}

.res-card {
    margin: 5px;

    width: 200px;

    background-color: rgb(231, 225, 225);


}

.res-card:hover {
    border: solid 1px black;
    cursor: pointer;
}

.kfc-logo {

    height: 164px;
    width: 200px;
}


.login {
    padding: 0 20px;
}


.filter {
    display: flex;
    margin: 5px;
    padding: 2px;
}